    .home .el-container {
        height: 100%;
    }
    
    .home .el-menu {
        border-right: none;
        /* min-width: 200px; */
    }
    
    .home .el-menu:not(.el-menu--collapse) {
        width: 200px;
    }
    
    .home .el-footer {
        height: 40px !important;    
        line-height: 20px !important;
        color: #888 !important;
        font-size: 14px;
        background-color: #eee;
        text-align: center;
    }
    
    .home .el-breadcrumb__inner a,
    .el-breadcrumb__inner.is-link {
        color: #fff;
    }
    
    .home .el-breadcrumb__item:last-child .el-breadcrumb__inner,
    .el-breadcrumb__item:last-child .el-breadcrumb__inner a,
    .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
    .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
        color: #fff;
        cursor: pointer;
    }
    
    body .el-table th.gutter {
        display: table-cell!important;
    }
    
    body .el-table colgroup.gutter {
        display: table-cell!important;
    }
    
    .el-table .warning-row {
        background: oldlace;
    }
    
    .el-table .success-row {
        background: #f0f9eb;
    }
    
    .right .el-table colgroup.gutter {
        display: table-cell!important;
    }   
    
    .right .el-table .warning-row {
        background: oldlace;
    }
    
    .el-table td,
    .el-table th {
        padding: 8px 0;
    }
    
    .client-drawer .el-drawer__header {
        font-size: 20px;
        color: #000;
    }
    
    .addUser-dialog .el-dialog{
        width: 30%;
    }
    
    .transfer-dialog .el-dialog{
        width: 28%;
    }